body {
    background-color: #FFDB58;
}
header {
    text-align: center;
    background-color: #251940;
}

header h1 {
    color: white;
}

header P {
    color: white;
}

main {
    text-align: center;
}

h2 {
    text-align: center;
}

button:hover

.button-group button {
    background:linear-gradient(90deg,var(--accent),#6366f1);
    color:white;
}

footer {
    background-color: #CAA9D9;
    text-align: center;
}